{extend name="base" /}

{block name="content"}

<style>
    .blog-area {
        background: rgba(31, 88, 177, .7);
        border-radius: 14px;
    }

    .blog-area .blog figure {
        height: 40%;
    }

    .container, .row, .blog-slider, .owl-wrapper-outer, .owl-wrapper, .owl-item, .blog-area .blog figure img {
        height: 100%;
    }

    .animation-visibility {
        height: 80%;
        margin: 10% 0;
    }

    @media screen and (max-height: 667px) {
        .animation-visibility {
            height: 100%;
            margin: 0;
            overflow-y: scroll !important;
        }
    }

    #showArticleDetail {
        position: fixed;
        right: 0;
        height: 100%;
        width: 100%;
        top: 0;
        z-index: 10000;
        display: none;
        background: rgba(0, 0, 0, 0.4);
    }

    #showArticleDetail .content {
        width: 60%;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background: #fff;
        padding: 20px;
        overflow-y: scroll;
    }

    #showArticleDetail .content p {
        color: #000;
    }

    @media screen and (max-width: 750px) {
        #showArticleDetail .content {
            width: 80%;
        }
    }
    .inner-container p,.inner-container h2{color: #fff;}
    .inner-container::-webkit-scrollbar {
        display: none;
    }
</style>

<section class="blog-area" style="width: 90%;left: 5%;padding: 20px 0;height: 90%;">
    <div class="container" style="width: 100%;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner-container" style="height: 100%;overflow-y: scroll">
                <h2 style="text-align: center">{$article_content.title}</h2>
                {:htmlspecialchars_decode($article_content['content'])}
            </div>
        </div>
    </div>
</section>
{/block}